<%= csrf_meta_tag %>
<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
<script src='/gif/dist/gif.js'></script>
<select class='videoSource'>
</select>
<div class='recorder page'>
  <p class='btn instructions control'>Click to record</p>
  <p class='counter'>3</p>
  <video autoplay></video>
</div>
<div class='page post_create'>
  <button class='btn done_editing block'>This picture's good!</button>
  <img class='gif' src='' />
  <input type='text' class='title' placeholder='Edit Title'/>
  <textarea class='body' placeholder='Write your post here'></textarea>
  <div class='gradient'></div>
</div>
<div class='result'></div>
<button class='btn upload block' id='upload'>Upload Post!</button>
<progress value="0" max="100" class='render'></progress>