<!doctype html>
<html>
<head>
  <title>
    Giffy
  </title>
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href='main.css' />

</head>
<body>
  <section class='container'>
    <div class='recorder window'>
      <p class='btn instructions control'>Click to record</p>
      <p class='counter'>3</p>
      <video autoplay></video>
    </div>
    <div class='window'>
      <img class='gif' src='' />
    </div>
  </section>
  <progress value="0" max="100" class='render'></progress>
  <script src='assets/gif/dist/gif.js'></script>
  <script src='app.js'></script>
</body>
</html>